*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 2.5fr 2.5fr;
    margin: 0 5% 5% 5%;
    justify-items: center;
    align-items: center;
}

.menu{
    display: grid;
    justify-items: center;
    align-items: center;  
    width: 300px;
    font-size: 2em;
    font-weight: bold;
}

.box1{
    background-color: grey;
    display: grid;
    justify-items: end; 
    border: solid;
    height: 150px;
    width: 280px;
}

.chicken{
    display: grid;
    border-bottom: solid;
    border-left: solid;
    width: 40%;
    justify-items: center;
    align-items: center;
    background-color: indianred;
}
.chickentext{
    padding: 1%;
}

.box2{
    background-color: grey;
    display: grid;
    justify-items: end; 
    border: solid;
    height: 150px;
    width: 280px;
}

.beef{
    display: grid;
    border-bottom: solid;
    border-left: solid;
    width: 40%;
    justify-items: center;
    align-items: center;
    background-color: red;
}

.beeftext{
    padding: 1%;
}

.box3{
    background-color: grey;
    display: grid;
    justify-items: end; 
    border: solid;
    height: 150px;
    width: 280px;
}

.sushi{
    display: grid;
    border-bottom: solid;
    border-left: solid;
    width: 40%;
    justify-items: center;
    align-items: center;
    background-color: sandybrown;
}

.sushitext{
    padding: 1%;
}

@media(min-width: 426px){
    .container{
        margin: 0 5% 5% 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr;
        grid-template-areas: 
        "menu menu"
        "box1 box2"
        "box3 box3";
    }
    .menu{
        grid-area: menu;
    }

    .box1{
        grid-area: box1;
    }


    .box2 {
        grid-area: box2;
        
    }

    .box3{
        grid-area: box3;
        width: 97%;
    }

    .sushi{
        width: 20%;
        height: 50%;
    }

}

@media(min-width: 769px){
    .container{
        margin: 1%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        gap: 1%;
        grid-template-areas: 
        "menu menu menu"
        "box1 box2 box3"
    }

    .box1{
        height: 40%;
        width: 95%;
    }

    .box2{
        height: 40%;
        width: 95%;
    }
    .box3{
        height: 40%;
        width: 95%;
    }

    .chicken{
        height: 30%;
    }

    .beef{
        height: 30%;
    }

    .sushi{
        height: 30%;
        width: 40%;
    }
}